project = "infra-"

public_key_path = "~/.ssh/appuser.pub"

disk_image = "reddit-base"

zone = "europe-north1-a"

private_key_path = "~/.ssh/appuser"

instance_count = "1"

source_ranges = ["0.0.0.0/0"]

enviroment = "prod"

app_provision = "true"
