project = "yourproject"

zone = "europe-north1-a"

public_key_path = "~/.ssh/appuser.pub"

private_key_path = "~/.ssh/appuser"

disk_image = "reddit-base"

instance_count = "1"

enviroment = "prod"

app_provision = "true"